In [1]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = (15, 10)

In [2]:
airlines = pd.read_csv("data-csv/airlines.csv")
airports = pd.read_csv("data-csv/airports.csv")
flights = pd.read_csv("data-csv/flights.csv")
planes = pd.read_csv("data-csv/planes.csv")
weather = pd.read_csv("data-csv/weather.csv")
weather_with_3_doublons = pd.read_csv("data-csv/weather_with_3_doublons.csv")

In [5]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,,1455,,,1634,,9E,3393,,JFK,DCA,,213,14,55,2013-09-30T14:00:00Z
336772,2013,9,30,,2200,,,2312,,9E,3525,,LGA,SYR,,198,22,0,2013-09-30T22:00:00Z
336773,2013,9,30,,1210,,,1330,,MQ,3461,N535MQ,LGA,BNA,,764,12,10,2013-09-30T12:00:00Z
336774,2013,9,30,,1159,,,1344,,MQ,3572,N511MQ,LGA,CLE,,419,11,59,2013-09-30T11:00:00Z
336775,2013,9,30,,840,,,1020,,MQ,3531,N839MQ,LGA,RDU,,431,8,40,2013-09-30T08:00:00Z

In [65]:
#pd.Series(airports['faa'].unique())
airports['faa'].nunique() == len(airports['faa'])

True

In [202]:
#1
print('\n#1 \n')
print('There is', len(airports['faa']), 'airports.')

nbAirportsNoSummerChange = len(airports[airports['dst'] == 'N'])
print('There is', nbAirportsNoSummerChange, 'airports that doesn\'t change time in summer.')

nbTimeZone = airports['tzone'].nunique()
print('There is', nbTimeZone, 'timezones.')

print('There is', len(airlines), 'companies.')

print('There is', len(planes), 'planes.')

nbCanceledFlights = len(flights[flights['dep_time'] == ' '])
print('There is', nbCanceledFlights, 'canceled flights.')

#1

There is 1458 airports.
There is 23 airports that doesn't change time in summer.
There is 10 timezones.
There is 16 companies.
There is 3322 planes.
There is 8255 canceled flights.

In [224]:
#2
print('\n#2 \n')
mostUsedCarrier = flights['carrier'].mode()[0]
mostUsedCarrier

mostFrequentedAirport = airlines[airlines['carrier'] == mostUsedCarrier]['name'].values[0]
print(mostFrequentedAirport, 'is the most frequented airport of the United States.')

#2

United Air Lines Inc. is the most frequented airport of the United States.

In [274]:
def getCarrier(dest):
    carrier = flights[flights['dest'] == dest]['carrier']
    return carrier.mode()[0]

In [275]:
def getNameDestination(carrier):
    return airlines[airlines['carrier'] == carrier]['name'].values[0]

In [309]:
i = 1
n = 300 #testing for 300 dest
topDest = flights['dest'].value_counts()[:n].index.tolist()
allTopDest = []
finalTopDestinationName = []

for dest in topDest:
    allTopDest.append(getNameDestination(getCarrier(dest)))
    #print('#', i, getNameDestination(getCarrier(dest)))
    #i += 1

for dest in allTopDest:
    # get top 10 most frequent destination
    if dest not in finalTopDestinationName and len(finalTopDestinationName) < 10:
        finalTopDestinationName.append(dest)
 

finalTopDestinationName

['United Air Lines Inc.',
 'Delta Air Lines Inc.',
 'JetBlue Airways',
 'US Airways Inc.',
 'American Airlines Inc.',
 'Envoy Air',
 'ExpressJet Airlines Inc.',
 'Southwest Airlines Co.',
 'Endeavor Air Inc.',
 'AirTran Airways Corporation']

In [324]:
totalFlights = len(flights)

def getPourcentage(nbFlight):
    return (nbFlight * 100) / totalFlights

In [350]:
topTenDest = flights['dest'].value_counts()[:10]
i = 0

for flight in topTenDest:
    print(round(getPourcentage(flight), 1), '% : ', finalTopDestinationName[i])
    i += 1

5.1 % :  United Air Lines Inc.
5.1 % :  Delta Air Lines Inc.
4.8 % :  JetBlue Airways
4.6 % :  US Airways Inc.
4.2 % :  American Airlines Inc.
4.2 % :  Envoy Air
4.0 % :  ExpressJet Airlines Inc.
3.6 % :  Southwest Airlines Co.
3.5 % :  Endeavor Air Inc.
2.9 % :  AirTran Airways Corporation

In [360]:
#4044 unique planes
flights['tailnum'].value_counts()[:10]

          2512
N725MQ     575
N722MQ     513
N723MQ     507
N711MQ     486
N713MQ     483
N258JB     427
N298JB     407
N353JB     404
N351JB     402
Name: tailnum, dtype: int64